# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/
.pytest_cache/

# Virtual Environments
venv/
.venv/
env/
ENV/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment Variables
.env
.env.*
